$body-font-family: "PT Sans", sans-serif;
$btn-text-transform: "none";
$shadow-key-umbra-opacity: rgba(100, 119, 216, 0.25);
$shadow-key-penumbra-opacity: rgba(100, 119, 216, 0.25);
$shadow-key-ambient-opacity: rgba(100, 119, 216, 0.25);
$card-elevation: 3;
$btn-active-opacity: 0;
// $rounded: (
//   0: 0,
//   'lg': '10px',
//   'xl': '20px',
//   'pill': 9999px,
//   'circle': 50%
// );
